header {
  width: 100vw;
  height: 6rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgcolor-white);
  z-index: 1000;
  padding: 0 1rem; /* Lägg till inre marginaler för bättre layout */
}

.header-transparent {
  background-color: rgba(255, 255, 255, 0.5); /* Halvtransparent bakgrund */
  backdrop-filter: blur(10px); /* Ger frostat glas-effekt */
  -webkit-backdrop-filter: blur(10px); /* För bättre stöd i Safari */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lägg till en subtil skugga */
}

/* Navigation */
.leftNav {
  display: flex;
  margin-left: 10rem;
  position: relative;
}

.logo-default,
.logo-hover {
  transition: opacity 0.3s ease;
  max-width: 200px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
}
.logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.leftNav:hover .logo-default {
  opacity: 0;
}

.leftNav:hover .logo-hover {
  opacity: 1;
}
.middleNav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  cursor: pointer;
}

.rightNav {
  display: flex;
  margin-right: 10rem;
  justify-content: space-between;
}

.headerButtonDesktop span {
  margin-top: 0.5rem;
}

.headerButtonDesktop {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  flex-direction: column-reverse;
  margin-right: 1.5rem;
}


.headerButtonMobile,
.regenLogoMobileCentered {
    display: none; /* Dölj mobilkomponenter */
}




  




@media (max-width: 1380px) {
  .leftNav {
    margin-left: 5rem;
}

.rightNav {
    margin-right: 5rem;
}

.middleNav ul {
  gap: 2rem;
}

}

@media (max-width: 1080px) {
  .leftNav {
    margin-left: 2rem;
}

.rightNav {
    margin-right: 2rem;
}


.middleNav ul {
  gap: 1rem;
}
}

@media (max-width: 768px) {
  header {
      justify-content: space-around;
      align-items: flex-end;
      padding-bottom: 1.5rem;
  }

  .leftNav {
      margin-left: 0;
  }

  .rightNav {
      margin-right: 0;
  }

  .leftNav > img,
  .middleNav > ul,
  .rightNav > .headerButtonDesktop {
      display: none; /* Dölj element som inte används på mobil */
  }

  .headerButtonMobile {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
  }

  .headerButtonMobile img {
      
  }

  .regenLogoMobileCentered {
    display: block; /* Visa den mobila loggan */
    text-align: center;
}
}


  
 