.hero {
  padding-top: 6rem; /* Remove padding to avoid shifting */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; 

}

  
  .sofaHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .sofaHero.mobile {
    display: none;
  }
  
  .heroTextBlock {
    position: absolute;
    top: 50%;
    left: 8rem;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    width: 60%;
  }

  .heroTextBlock h2 {
    
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    line-height: 120px;
    
  }

  .heroTextBlock p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }


  
  /* Design Button */
  .designButton {
    width: 11rem;
    height: 3rem;
    border-radius: 40px;
    border: none;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 0.95rem;
    font-family: IBM Plex Sans;
    background-color: var(--textcolor-black);
    color: var(--bgcolor-white);
    cursor: pointer;

  }
  
  
  .designButton h3 {
    font-weight: 800;
    margin: 0;
    font-size: 1rem;
  }

  @media (max-width: 768px) {

    .heroTextBlock {
      position: absolute;
      top: 30%;
      left: 5%;
      transform: none;
      text-align: left;
      color: white;
      width: 80%;
    }

    .heroTextBlock p {
      font-size: 1rem;
    }

    .heroTextBlock h2 {
      line-height: 55px;
      padding-bottom: 1rem;
    }

    .sofaHero.desktop {
      display: none;
    }

    .sofaHero.mobile {
      display: block;
    }

  }