/* *, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin:0;
}

.carousel {
    width: 80vw;
    height: 80vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 10;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    
}

.carousel-button img {
    height: 3rem;
    width: 3rem;
}

.carousel-button.prev {
    left: -2rem;
}

.carousel-button.next {
    right: -2rem;
} */



*, *::before, *::after {
    box-sizing: border-box;
  }
  

  .carousel {
    width: 80vw;
    height: 50vh;
    position: relative;
    margin: auto;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: -4rem;
  }
  
  .carousel-button.next {
    right: -4rem;
  }

  .models {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16.5rem;
  }

 
    @media (max-width: 768px) {
        .models {
            margin-top: 7.6rem;
        }
        .carousel-button{
            font-size: 2rem;
        }
        .carousel-button.prev {
            left: -1.5rem;
          }
          
          .carousel-button.next {
            right: -1.5rem;
          }
    
    }