
.collage {
  padding: 0 10rem;
  margin-top: 8.7rem;
}

.collageContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolumner på desktop */
  gap: 1rem;
  max-width: 1600px; /* Begränsa bredden på grid */
  margin: 3.5rem auto; /* Centrerar griden */
  height: 100%;
}

.collageContent img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Ger bilderna rundade hörn */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1040px) {
  .collage {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {

  .collage {
    padding: 0 2rem;
  }

  .collageContent {
    grid-template-columns: repeat(2, 1fr); /* 2 kolumner på mobil */
    
  }
  .collageHeading h1 {
    display: none;
   } 
}


