/* CTA Container */
.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6.3rem;
  align-items: center; /* Centrerar innehållet horisontellt */
}

/* Content Wrapper */
.ctaContent {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrerar innehåll vertikalt */
  align-items: flex-end;
  width: 100%;
  gap: 2rem; /* Ger avstånd mellan H1 och ctaBox */
}

.ctaHeading {
  text-align: center;
  width: 80%;
}

/* CTA Box */
.ctaBox {
  display: flex;
  justify-content: space-between; /* Ger avstånd mellan textblock och bild */
  align-items: center; /* Centrerar innehållet vertikalt */
  width: 80%; /* Anpassad bredd */
  height: 60vh; /* Fast höjd */
  background-color: var(--main-purple);
  padding: 2rem;
  gap: 1rem;
  flex-direction: row;
}

.ctaTextBlock {
  width: 50%;
  
}
.ctaTextBlock p {
  margin-top: 1rem;
}


 /* CTA Image */
.imgContent {
  width: 50%; /* Bilddelen tar resterande bredd */
  height: 100%; /* Fyller hela höjden */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContent img {
  max-height: 100%; /* Anpassar bildens höjd */
  width: auto; /* Behåller proportionerna */
  display: block;
}

  /* Button */
.scanButton {
    border-radius: 63px;
    border: none;
    width: 120px;
    height: 45px;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    font-family: Poppins;
    margin-top: 1.5rem;
  }

  .ctaHeadingMobile {
    display: none;
  }

  

@media (max-width: 768px) {

  .ctaBox {
    width: calc(100% - 3rem);
    padding: 0;
    flex-direction: column-reverse;
    height: 90vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

  }

  .ctaHeading {
   display: none;
  }

  .ctaHeadingMobile {
    display: block; /* Visa mobilrubriken endast i mobilvyn */
    width: 100%;
    text-align: center;
  }

  

  .ctaTextBlock {
    width: 100%;
    padding: 1.5rem 1.5rem;
}


    .imgContent {
    width: 70%;
  }
}