.footer_title {
  font-weight: 700;
  font-family: 'IBM Plex Sans'; 
  color: var(--bgcolor-white);
  font-size: var(--fs-p);
}

.footer_content li {
  margin-top: 1rem; /* Ger mellanrum mellan varje rad i listan */
  color: var(--bgcolor-white);
  font-weight: 300;

}

.footer_container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  background-color: var(--footer);
  width: 100%;
  margin: 0 auto;
}

.footer_section {
  padding: 1.5rem;
  text-align: left;
}


/* För mobilanpassning */
@media (max-width: 48rem) {
  .footer_container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      gap: 1rem;
      padding: 1rem;
      
  }

  .footer_section {
      width: 100%;
      padding: 1.5rem;
  }

} 
