.footer_title {
  font-weight: 700;
  font-family: 'IBM Plex Sans'; 
  color: var(--bgcolor-white);
  font-size: 1rem;
}

.footer_content li {
  margin-top: 1rem; /* Ger mellanrum mellan varje rad i listan */
  color: var(--bgcolor-white);
  font-weight: 300;
  font-size: 1rem;
  

}





.footer_container {
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  background-color: var(--footer);
  width: 100%;
  height: 39.375rem;
  margin-top: 6.75rem;
  padding: 3rem;
  
}

.footer_section {
  padding: 1.5rem;
  text-align: left;
  height: 100%
  
  
}

.footer_content.socials {
  display: flex;
  
}

.footer_content.socials img {
  margin-right: 1rem;
  max-height: 1.5rem;
  
}

.paymentMethods {
  display: flex;
  width: 100%;
  height: 3rem;
}


/* För mobilanpassning */
@media (max-width: 48rem) {
  .footer_container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      gap: 1rem;
      padding: 1rem;
      
  }

  .footer_section {
      width: 100%;
      padding: 1.5rem;
  }

} 
