header {
  width: 100vw;
  height: 6rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgcolor-white);
  z-index: 1000;
  padding: 0 1rem; /* Lägg till inre marginaler för bättre layout */
}

/* Navigation */
.leftNav {
  display: flex;
  margin-left: 5rem;
  margin-left: 10rem;
}

.leftNav img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.middleNav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.rightNav {
  display: flex;
  margin-right: 10rem;
  justify-content: space-between;
}

.headerButtonDesktop span {
  margin-top: 0.5rem;
}

.headerButtonDesktop {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  flex-direction: column-reverse;
  margin-right: 1.5rem;
}


.headerButtonMobile,
.regenLogoMobileCentered {
    display: none; /* Dölj mobilkomponenter */
}




@media (max-width: 1380px) {
  .leftNav {
    margin-left: 5rem;
}

.rightNav {
    margin-right: 5rem;
}

.middleNav ul {
  gap: 2rem;
}
}

@media (max-width: 1080px) {
  .leftNav {
    margin-left: 2rem;
}

.rightNav {
    margin-right: 2rem;
}


.middleNav ul {
  gap: 1rem;
}
}

@media (max-width: 768px) {
  header {
      justify-content: space-around;
      align-items: flex-end;
      padding-bottom: 1.5rem;
  }

  .leftNav {
      margin-left: 0;
  }

  .rightNav {
      margin-right: 0;
  }

  .leftNav > img,
  .middleNav > ul,
  .rightNav > .headerButtonDesktop {
      display: none; /* Dölj element som inte används på mobil */
  }

  .headerButtonMobile {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
  }

  .headerButtonMobile img {
      margin-right: 0.5rem;
  }

  .regenLogoMobileCentered {
    display: block; /* Visa den mobila loggan */
    text-align: center;
}
}


  
 