header {
    width: 100vw;
    height: 6rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--bgcolor-white);
    z-index: 1000;
    
  }
  
  
  /* Navigation */
  .leftNav {
    display: flex;
    margin-left: 5rem;
    
  }
  
  .middleNav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .rightNav {
    display: flex;
    
  }
  
  
  /* Mobilinställningar */
  @media (max-width: 768px) { 
    
    
    header .leftNav > img, h4 {
      display: none;
      
    }
  
    header .middleNav > ul {
      display: none;
    }
  
    header .rightNav > .headerButtonDesktop {
      display: none;
    }

    .leftNav {
      margin-left: 0;
    }
    .rightNav {
      margin-right: 0;
    }

    header {
      justify-content: space-around;
      align-items: flex-end;
      padding-bottom: 1.5rem;
    }

    .headerButtonMobile {
      display: flex;
      align-items: center;
      background: none; /* Tar bort standardbakgrunden */
      border: none;     /* Tar bort kantlinjen */
      padding: 0;       /* Tar bort eventuell inre marginal */
      cursor: pointer;  /* Gör det tydligt att det är en knapp */

    }
    .headerButtonMobile img  {
      margin-right: 0.5rem;
    }
  }
  
    /* Desktopinställningar */
    @media (min-width: 769px) {
      header .leftNav .headerButtonMobile,
      header .rightNav .headerButtonMobile,
      header .regenLogoMobileCentered {
        display: none;
      }
      .headerButtonDesktop {
        display: flex;
      align-items: center;
      background: none; /* Tar bort standardbakgrunden */
      border: none;     /* Tar bort kantlinjen */
      padding: 0;       /* Tar bort eventuell inre marginal */
      cursor: pointer;  /* Gör det tydligt att det är en knapp */
      flex-direction: column-reverse;
      margin-right: 1.5rem;
      }

      .rightNav {
        margin-right: 10rem;
        justify-content: space-around;
      }

      .leftNav {
        margin-left: 10rem;
      }
    }