.newsletter {
    background-color: var(--main-blue);
    height: 49vh; 
    width: 84vw; 
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    overflow: hidden;
    margin-left: 0; 
  }

  .newsletter h3 { /* Pillade på fontstorlekarna enligt anvisning i Figma. Då får de plats i containern. Det gjorde de inte annars. Det kanske löser sig av sig själv om jag kan få vänstermarginalen att flytta sig, men det lyckas jag inte med. */
    font-size: 3rem;
  }

  .newsletter h4 {
    font-size: 1.5rem;
  }
  
  .newsletterImage {
    height: 100%;
    width: auto;
    overflow: hidden;
  }
  
  .newsletterImage img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block;
  }
  
  .formwrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 50%; 
    min-width: 300px;
    height: 100%;
    margin-left: 0; /* Det är en jättestor marginal till vänster. Jag har försökt att få den att flytta sig, men no go. */
  }
  
  .newsletterButton {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 0.75rem 1.5rem;
    display: block;
    margin-top: 1rem;
    width: auto;
    text-align: left;
    outline: none;
    border: none;
  }

  .newsletter input[type="email"] { 
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
  }
  

  
  /* Mobile Layout */
  
  @media (max-width: 769px) {
    .newsletter {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      width: 100%;
      height: auto; 
      padding: 1.5rem 1rem;
      margin: 1rem auto; /* Jag får inte till sidomarginaler */
    }
  
    .newsletterImage {
      width: 100%;
      height: auto;
      padding: 1rem;
    }
  
    .formwrapper {
      width: 100%;
      height: 100%;
      text-align: left;
      padding: 2rem;
      align-items: flex-start; 
    }

.newsletter h3 {
    font-size: 1.5rem;
}

    .newsletter h4 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .newsletterConsent label {
        font-size: 0.875rem;
    }
  
    .newsletterButton {
      width: auto; 
      margin-top: 1rem;
    }
  }
  