.newsletter {
  background-color: var(--main-blue);
  height: 34rem;
  width: 80%;
  max-width: 90rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
    
  }

  .newsletter p {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.5rem;

  }

  .newsletterImage {
    max-width: 40%;
    max-height: 100%;
  }
  
  .newsletterImage img {
  
  height: 100%;
  object-fit: cover;
  max-width: 100%; /* Säkerställer att den inte blir större än sin container */
  max-height: 100%; /* Samma sak för höjden */
  }
  
  .formwrapper {
    padding: 2rem;
    padding-left: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    width: 70%;
    
    height: 100%;
    margin-left: 0; /* Det är en jättestor marginal till vänster. Jag har försökt att få den att flytta sig, men no go. */
  }
  
  .newsletterButton {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 0.75rem 1.5rem;
    display: block;
    margin-top: 1rem;
    width: auto;
    text-align: left;
    outline: none;
    border: none;
  }

  .newsletter input[type="email"] { 
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
  }

  .checkbox {
    padding-top: 0.5rem;
  }
  
  @media (max-width: 1024px) {
    .newsletterImage img {
      height: auto; /* Gör att bilden skalas ner korrekt vid mindre desktopstorlekar */
      object-fit: contain; /* För att hela bilden ska synas (valfritt) */
    }
  }

  
  /* Mobile Layout */
  
  @media (max-width: 769px) {
    .newsletter {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      width: 100%;
      height: fit-content; 
      padding: 1.5rem 1rem;
      margin: 1rem auto; /* Jag får inte till sidomarginaler */
    }
  
    .newsletterImage {
      max-width: 100%;
      max-height: auto;
      padding: 1rem;
    }


    .newsletterImage img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      }
  
    .formwrapper {
      width: 100%;
      height: 100%;
      text-align: left;
      padding: 2rem;
      align-items: flex-start; 
    }


    .newsletterConsent label {
        font-size: 0.875rem;
    }
  
    .newsletterButton {
      width: auto; 
      margin-top: 1rem;
    }
  }
  