:root {
    --main-purple: #CEB2D5;
    --main-green: #D4EAA9;
    --main-blue: #E2F1FD;
    --beige-sofa: #EDDAC5;
    --blue-sofa: #9EB1B8;
    --brown-sofa: #A54827;
    --bgcolor: #FFFFFF;
    --textcolor: #000000;
    --footer: #6C7274;
}