
  /* Newsletter */

  @media (max-width: 1024px) {
    .newsletter {
        font-size: 14px;
    }
  }

  .newsletter {
    background-color: var(--main-blue);
    margin-top: 3.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  
  
  .newsletterImage {
      height: 24rem;
      border: 1px solid black;
      display: block; 
      margin-bottom: 1.5rem;
      align-self: center;
  }
  
  
  .newsletter > h1 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: left;
      width: 100%;
  }
  
  .newsletter > h2 {
    margin-top: 1.5rem;
    text-align: left;
    width: 100%;
  }
  
  .newsletter > form {
    text-align: left;
    margin-top: 1 rem;
  }
  
  .newsletter .newsletterConsent {
    width: 100%;
  }
  
  .newsletter .checkbox {
    margin-top: 1rem;
    text-align: left;
  }
  
  .newsletter input[type="email"] {
    padding: 10px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 10px;
  }
  
  .newsletter .newsletterButton {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 0.75rem 1.5rem;
    display: block;
    margin-top: 1rem;
    width: auto;
    text-align: left;
    outline: none;
    border: none;
  }
  
  @media (min-width: 769px) {  /* Vi behöver förmodligen fler breakpoints */
    .newsletter {
      flex-direction: row-reverse;
      height: auto;
      width: 83vw;
      margin: 0; 
      padding: 0;
      align-items: stretch;
    }
  
    .newsletter .newsletterImage {
      height: 100%;
      margin-bottom: 0; 
      align-self: stretch;
    }
  
    .newsletter .formwrapper {
      flex: 1;
      margin-right: 5rem;
      margin-left: 6rem;    
      margin-top: 2rem;
      overflow: hidden; 
      word-wrap: break-word; 
      max-width: 100%; 
    }
  
    .newsletter > h1 {
      text-align: left;
    }
  
    .newsletter > h2 {
      text-align: left;
    }
  
    .newsletter > form {
      text-align: left;
    }
  }