
/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: white;
}

/* General Element Styles */
img {
  display: block;
  max-width: 100%; /* Anpassar bilden till skärmens storlek */
}

p {
  font-size: 2rem;
  font-weight: 300;
}

header {
  width: 100vw;
  height: 3rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(106, 106, 106, 0.86);
  transition: background 0.3s ease, backdrop-filter 0.3s ease;  /* glass effect transition */
  z-index: 1000;
}

.header-scrolled {
  background: rgba(106, 106, 106, 0.4);   /*increased opacity on scroll */
  backdrop-filter: blur(10px);  /*blur creates the frosted-glass effect together with the increased opacity */
}


/* Navigation */
.leftNav {
  margin-left: 20px;
}

.middleNav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.rightNav {
  margin-right: 20px;
}


/* Mobilinställningar */
@media (max-width: 48rem) { 
  
  header .leftNav > h1 {
    display: none;
  }

  header .middleNav > ul {
    display: none;
  }

  header .rightNav > .headerButtonDesktop {
    display: none;
  }
  }

  /* Desktopinställningar */
  @media (min-width: 48.1rem) {
    header .leftNav .headerButtonMobile,
    header .rightNav .headerButtonMobile,
    header .regenLogoMobileCentered {
      display: none;
    }
  }