* {
  box-sizing: border-box; /* Det finns inte i huvud-css-filen, eller hur? Utan border-box uppför sig inte högermarginalen... */
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  /* Makes so the image adapt to the screen size */
}

body {
  font-family: IBM Plex Sans;
   margin: 0;
   display: block;
   background-color: white;
   width: auto;
 }

 header {
   width: 100vw;
   height: 3rem;
   position: fixed;
   display: flex;
   justify-content: space-between; /* Fördelar utrymmet jämnt mellan divarna */
   align-items: center; 
   background-color: rgba(106, 106, 106, 0.86);
   z-index: 1000;
 }

 .wrapper {
  outline: 3px solid red;
  margin-inline: auto;
  width: min(1440px, 100% - 4rem);
  padding-top: 3rem;
  
 }


 .leftNav {
  margin-left: 20px;
 }

 .middleNav ul {
   list-style-type: none;
   display: flex;
   gap: 20px;

 }

 .rightNav {
  margin-right: 20px;
 }

 .hero {
   background-color: rgba(217, 217, 217, 1);
   height: 80vh;
 }

 .sofaHero {
  object-fit: cover;
  height: 80vh;
  width: auto;
 }

 .heroTextBlock {
  display: flex;
  flex-direction: column; /* Ordnar elementen vertikalt */
  gap: 5px; /* Skapar avstånd mellan elementen */
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Aligns the text perfectly in the center */
  width: auto;
  color: white;
 }

 .designButton {
  width: 210px;
  height: 40px;
  border-radius: 40px;
  border-style: none;
  }

.designButton h3{
  font-weight: 800;
  margin: 0;
  font-size: 1rem;
}

.ctaBox {
  display: flex;
  flex-direction: column; /* Ordnar elementen vertikalt */
  gap: 5px;
}

.ctaImg {
  max-width: 300px;
  height: auto;
  object-fit: contain;

}

@media (max-width: 768px) {
  .ctaImg {
    max-width: 100%; /* Gör så att bilden tar upp hela bredden på mindre skärmar */
    margin: 1rem 1rem;
  }
}

.scanButton {
  border-radius: 63px;
  border-style: none;
  width: 120px;
  height: 45px;
  margin: 0;
}


.modeller{
  display: flex;
  flex-direction: column; /* Ändrar riktningen till vertikal */
   height: 80vh;
   background-color: rgba(146, 20, 20, 0.86);
}

.modeller h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;

}

.modul4 {
  background-color: rgba(169, 161, 161, 1);
  height: 80vh;
  
  
}

.slider {
  background-color: rgba(217, 217, 217, 1);
  height: 80vh;
}

.newsLetter {
  background-color: white;
  height: 80vh;
}

/* footer {
  background-color: rgba(182, 179, 179, 1);
  height: 50vh;
} */



.footer_container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(106, 106, 106, 0.86);
  width: 100%;
  margin: 0 auto;
}

.footer_kundservice,
.footer_information,
.footer_kontakt,
.footer_följoss,
.footer_regen {
  border: 1px solid black;
  background-color: rgba(106, 106, 106, 0.86);
  padding: 1.5rem;
  text-align: left;
  font-size: 1rem;
}

@media (max-width: 48rem) { 
  .footer_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 1rem;
    padding: 1rem;
  }

  .footer_kundservice,
  .footer_information,
  .footer_kontakt,
  .footer_följoss,
  .footer_regen {
    width: 100%;
    font-size: 1rem;
    padding: 1.5rem;
  }
}