img {
  display: block;
  max-width: 100%;
  /* Makes so the image adapt to the screen size */
}

body {
  font-family: IBM Plex Sans;
   margin: 0;
   display: block;
   background-color: white;
   width: auto;
 }

 header {
   width: 100vw;
   position: fixed;
   display: flex;
   justify-content: space-between; /* Fördelar utrymmet jämnt mellan divarna */
   align-items: center; 
   background-color: rgba(106, 106, 106, 0.86);
   z-index: 1000;
 }



 .leftNav {
  margin-left: 20px;
 }

 .middleNav ul {
   list-style-type: none;
   display: flex;
   gap: 20px;

 }

 .rightNav {
  margin-right: 20px;
 }

 .hero {
   background-color: rgba(217, 217, 217, 1);
   min-height: 80vh;
 }

.cta {
  background-color: rgba(255, 255, 255, 1);
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.ctaBox {
  background-color: rgba(217, 217, 217, 1);
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  top: 23%; /* 2/5 from the top */
}

.scanButton {
  border-radius: 63px;
  border-style: none;
  width: 120px;
  height: 45px;
  margin: 0;
}

.designButton {
  width: 220px;
  height: 48px;
  border-radius: 63px;
  border-style: none;
  }

.designButton h3{
  font-weight: 800;
  margin: 0;
}

.modeller{
  display: flex;
  flex-direction: column; /* Ändrar riktningen till vertikal */
   height: 80vh;
   background-color: rgba(146, 20, 20, 0.86);
}

.modeller h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;

}

.modul4 {
  background-color: rgba(169, 161, 161, 1);
  height: 100vh;
  
}

.slider {
  background-color: rgba(217, 217, 217, 1);
  height: 80vh;
}

.newsLetter {
  background-color: white;
  height: 80vh;
}

footer {
  background-color: rgba(182, 179, 179, 1);
  height: 50vh;
}