
body {
   margin: 0;
   display: block;
   background-color: white;
 }

 header {
   position: fixed;
   display: flex;
   justify-content: space-between; /* Fördelar utrymmet jämnt mellan divarna */
   align-items: center; /* Justerar vertikalt */
   padding: 10px; /* Valfri marginal */
   background-color: rgba(106, 106, 106, 0.86);
   width: 100%;
 }



 .middleNav ul {
   list-style-type: none;
   display: flex;
   gap: 20px;

 }

 .hero {
   background-color: rgba(217, 217, 217, 1);
   height: 100vh;
   padding: 20vh;
 }

.modul1 {
   background-color: rgba(255, 255, 255, 1);
   height: 80vh;
   padding: 20vh;
}

.modeller{
   height: 60vh;
   background-color: rgba(106, 106, 106, 0.86);
   padding: 20vh;
}

.carusell {
      
      background-color: rgba(106, 106, 106, 0.86);
      padding: 20vh;
}