
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    background-color: #ff0000; /* Din huvudfärg */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 50px;
    
    }

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 li {
    margin:0
 }