
.footer_container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    
    background-color: rgba(106, 106, 106, 0.86);
    width: 100%;
    margin: 0 auto;
  }
  
  .footer_kundservice,
  .footer_information,
  .footer_kontakt,
  .footer_följoss,
  .footer_regen {
    border: 1px solid black;
    background-color: rgba(106, 106, 106, 0.86);
    padding: 1.5rem;
    text-align: left;
    font-size: 1rem;
  }
  
  @media (max-width: 48rem) { 
    .footer_container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      gap: 1rem;
      padding: 1rem;
    }
  
    .footer_kundservice,
    .footer_information,
    .footer_kontakt,
    .footer_följoss,
    .footer_regen {
      width: 100%;
      font-size: 1rem;
      padding: 1.5rem;
    }
  }
  